@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";

body {
 background: #AA076B; /* fallback for old browsers */
 background: -webkit-linear-gradient(to left, #AA076B , #61045F); /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to left, #AA076B , #61045F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.welcome-page-container {
  @include outer-container;
  margin-top: 40px;
}

.ciao {
  @include span-columns(10);
  @include shift(1);
}

.ciao-text {
  font-size: 2.5rem;
  font-family: "proxima-nova-soft","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.3em;
  color: #FDF6E3;
  font-weight: 500;
}

.f-de-gregori-bene-container {
  @include span-columns(10);
  @include shift(1);
}

.f-de-gregori-bene {
  display: none;
}

.f-de-gregori {
  display: none;
  text-align:right;
}





