---
title: Ciao, tra poco arrivo...
---

<main class="welcome-page-container">
 <section class="ciao">
 	<p class="ciao-text">Ciao,<br>My name is Jason; I'm an aspiring builder.</p>

 	<p class="ciao-text">I hope to delight you soon somewhere on the Internet, or preferably over a quality conversation with a glass of cabernet.</p>
	<p class="ciao-text">A presto,<br>Jason<br>@curiositypaths</p>
 </section>
</main>
<section class="welcome-page-container">
	<div class="f-de-gregori-bene-container">
		<p class="f-de-gregori-bene">Però non mi confondere con niente e con nessuno, e vedrai... niente e nessuno ti confonderà</p>
		<p class="f-de-gregori">&mdash; F. De Gregori</p>
	</div>
</section>

