---
title: Ciao, tra poco arrivo...
---
<main class="welcome-page-container">
  <div class="ciao">
    <p class="ciao-text">Ciao,</p>
    <p class="ciao-text">I'm Jason, an instructor at the Flatiron School and an aspiring&nbsp;Imagineer. I hope to delight you on the Internets shortly, or old school over a revealing conversation and a glass of Cabernet in NYC.</p>
    <p class="ciao-text">A presto,<br>Jason</p>
  </div>
</main>
<div class="welcome-page-container">
  <div class="f-de-gregori-bene-container">
    <p class="f-de-gregori-bene">Però non mi confondere con niente e con nessuno, e vedrai... niente e nessuno ti confonderà</p>
    <p class="f-de-gregori">&mdash; F. De Gregori</p>
  </div>
</div>
